<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>海外留学系统系统登陆页面</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="海外留学系统" name="description" />
    <meta content="157253173@qq.com" name="author" />
    <!-- 加载css -->
    <link rel="stylesheet" type="text/css" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link href="/static/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/plugins/uniform/css/uniform.default.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/custom.min.css">
</head>
<body>
  <div class="table-container">
       <div class="table-form">
      <form action="" class="form-inline">
        <div class="form-group">
          <label>活动计划名称</label>
          <input class="form-control" placeholder="活动计划名称" name="u_plan_name"></input>
        </div>
         <div class="form-group">
          <label>活动开始日期</label>
          <input type="date" class="form-control" placeholder="计划开始日期" name="u_start_date"></input>
         
        </div>  
		<div class="form-group">
          <label>活动结束日期</label>
          <input type="date" class="form-control" placeholder="计划结束日期" name="u_end_date"></input>
         
        </div>
         <div class="form-group">
          <button class="btn btn-warning"><i class="fa fa-search"></i>查询</button>
           <button class="btn btn-primary"><i class="fa fa-refresh"></i>清空</button>
        </div>
      </form>
    </div>
    <div class="table-tools">
 
      <button class="btn btn-warning"><i class="fa fa-close"></i>删除</button>
      <button class="btn btn-success"><i class="fa fa-refresh"></i>刷新</button>
   
    </div>
    <div class="table-content">
        <table id="ActivitySummaryTable"></table>
    </div>
  </div>
</body>
<!-- 加载系统的js -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/js.cookie.min.js"></script>
<script src="/static/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/js/jquery.blockui.min.js"></script>
<script src="/static/plugins/uniform/jquery.uniform.min.js"></script>
<script src="/static/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/js/contact.table.js"></script>
</html>